$colores: (
    colorUno: #4175A5,
    colorDos: azure,
    colorTres: #5f80ba,
    colorCuatro:white,



    // FONDOS
    fondoUno: #093258,
    fondoDos: #4d4d4d,

    // DEGRADADO FONDO
    gradUno: linear-gradient(0deg, rgba(77,77,77,0.9026961126247374) 0%, rgba(23,75,123,1) 85%),

);

