*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    }

// IMPORT
// @import "colores";
@import "mixin";
@import "maps";



/* ESTILOS PROPIOS */
nav{
    padding: 10px;

} 

.menuAnimado{
    &:hover{
        display: inline-block;
    /* margin:  0.1em; */

    animation: bounce;
    animation-duration: 1s;
    }
}

.bg-light{
    background-color: map-get($colores , fondoUno ) !important;
}  

body{
    background: map-get($colores, fondoDos);
    background: map-get($colores, gradUno);
}

footer{
    background-color: map-get($colores, fondoUno);;
}

ul {
    list-style-type: none;
    @include tamanio (100%);
    justify-content: space-between;
}

.navFooter{
    height: 10vh;
}

/* LI */
li{
    border-radius: 3px;
}

/* MODIF EN LOS A */
a{
    color: map-get($colores , colorDos) !important;
    text-decoration: none;
    padding: 5px;
    &:hover{
        color: map-get($colores , colorTres) !important;
    }
}

/* MODIF EN CLASS IMG-FLUID */
.img-fluid{
    height: 100% !important;
}

.imgAnimada{
    &:hover{
        display: inline-block;
        margin: 0 0.2rem;

        animation: headShake;
        animation-duration: 1s;
    }
}

/* MODIF EN ETIQUETA ROW */
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    --bs-gutter-y: 1.5rem !important;
}

/* TITULOS */
.h1Titulo{
    padding: 12px 0px 12px 0px;
    @include tamanio (30%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 38px;
}
.h2Titulos{
    padding: 30px 10px 10px 10px;
}

/* H2 TITULOS SECCIONES */
.h2TitulosSecciones{
    @extend .h2Titulos;
    color: white;
}

.my-4{
    margin-bottom: 0 !important;
}
/* INICIO SECCION CONTACTO */
.contenedorContacto{
    padding: 100px 0px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
label{
    color: map-get($colores , colorCuatro);
}
/* FIN DE CONTACTO */